[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "site/themes/reveal-hugo"]
	path = site/themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo
